<h1 style="border-bottom: solid 3px black">Skabeloner</h1>
<div class="scrolling-container style-3">
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Domæne</th>
        <th>Afsendernavn</th>
        <th>Emne</th>
        <th>Redirect URL</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let template of templates" >
      <td>{{template.senderDomain}}</td>
      <td>{{template.senderDomainName}}</td>
      <td>{{template.subject}}</td>
      <td>{{template.redirectUrl}}</td>
      <td><a href="#" [routerLink]="['/admin/templates/preview', template.id]"><i class="fa fa-search" aria-hidden="true" style="color: black;"></i></a></td>
      <td><a href="#" [routerLink]="['/admin/templates/edit', template.id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: black;"></i></a></td>
      <td><a href="#" [routerLink]="['/admin/templates/delete', template.id]"><i class="fa fa-times" aria-hidden="true" style="color: black;"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>


