<app-loadingbar></app-loadingbar>
  <div class="scrolling-container style-3">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th *ngIf="!simplified">Brugernavn</th>
        <th>Navn</th>
        <th>Email</th>
        <th>Firma</th>
        <th *ngIf="!simplified">Tilmeldingsdato</th>
        <th *ngIf="!simplified">Rettigheder</th>
        <th *ngIf="!simplified">Forhandler</th>
        <th *ngIf="!simplified"></th>
        <th *ngIf="!simplified"></th>
        <th *ngIf="!simplified"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td *ngIf="!simplified">{{user.userName}}</td>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.company}}</td>
        <td *ngIf="!simplified">{{user.joinDate}}</td>
        <td *ngIf="!simplified">{{user.roles}}</td>
        <td *ngIf="!simplified">{{user.retailerid}}</td>
        <td *ngIf="!simplified"><a href="#" [routerLink]="['/admin/assignroles', user.id]"><i class="fa fa-snowflake-o" aria-hidden="true" style="color: black;"></i></a></td>
        <td *ngIf="!simplified"><a href="#" [routerLink]="['/admin/edit', user.id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: black;"></i></a></td>
        <td *ngIf="!simplified"><a href="#" [routerLink]="['/admin/delete', user.id]"><i class="fa fa-times" aria-hidden="true" style="color: black;"></i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
<a *ngIf="simplified" href="#" [routerLink]="['/admin/create']" style="font-size: 24px; color: black; float: right;"><i class="fa fa-plus" aria-hidden="true"></i></a>
