<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 style="border-bottom: solid 3px black">Dashboard</h1>
    </div>
  </div>

  <div class="row mt-4"  style="max-height: 50vh;">
    <div class="col-6">
      <h2 style="text-align: center;">Kunder</h2>
      <app-userlist-smart [users]="users" [simplified]="true"></app-userlist-smart>
    </div>
    <div class="col-6">
      <h2 style="text-align: center;">Tests</h2>
      <app-testlist-smart [tests]="tests" [simplified]="true"></app-testlist-smart>
    </div>
  </div>
</div>

