<app-loadingbar></app-loadingbar>
  <div class="scrolling-container style-3">
    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th>Forhandler</th>
        <th>Test navn</th>
        <th>Start dato</th>
        <th>Slut dato</th>
        <th *ngIf="!simplified">Skabelon</th>
        <th *ngIf="!simplified">Antal modtagere</th>
        <!--<th *ngIf="!simplified"></th>-->
        <th *ngIf="!simplified"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let test of testList">
        <td>{{test.retailer}}</td>
        <td>{{test.testName}}</td>
        <td>{{test.startDate}}</td>
        <td>{{test.endDate}}</td>
        <td *ngIf="!simplified">{{test.templateid + ""}}</td>
        <td *ngIf="!simplified">{{test.recepients.length}}</td>
        <!--<td *ngIf="!simplified"><a href="#" [routerLink]="['/test/edit', test.id]"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color: black;"></i></a></td>-->
        <td *ngIf="!simplified"><a href="#" [routerLink]="['/test/', test.id]"><i class="fa fa-info" aria-hidden="true" style="color: black;"></i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
