<app-loadingbar></app-loadingbar>
<!-- Toolbar -->
<div class="topnav" id="myTopnav">
  <a *ngIf="adminActivate || allActivate" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true" style="color: white; cursor: pointer;"></i></a>
  <a href="#" [routerLink]="['/']"><img src="../assets/Logo.png" style="height: 22px"/>
    <b>Prueba</b> Cybersecurity</a>
  <a href="#">Nyheder</a>
  <a href="#">Kontakt</a>
  <a *ngIf="!allActivate" [routerLink]="['/login']" style="float: right; cursor: pointer;">Log in</a>
  <a *ngIf="allActivate" [routerLink]="['/']" (click)=logout() style="float: right; cursor: pointer;">Log ud</a>
  <!--<a href="#" [routerLink]="['/']" style="float: right">Log af</a>-->
</div>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a href="#" [routerLink]="[dashboardRoute]">Dashboard</a></li>
      <li><a href="#" [routerLink]="[userListRoute]">Brugere</a></li>
      <li><a href="#" [routerLink]="[createUserRoute]">Opret Bruger</a></li>
      <li *ngIf="adminActivate"><a href="#" [routerLink]="['/admin/templates']">Skabeloner</a></li>
      <li *ngIf="adminActivate"><a href="#" [routerLink]="['/admin/templates/create']">Opret skabelon</a></li>
      <li><a href="#" [routerLink]="[testListRoute]">Test</a></li>
      <li><a href="#" [routerLink]="[createTestRoute]">Opret Test</a></li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>





