<div class="container">
  <div class="row">
    <div class="col align-items-center">
    <h1 style="text-align: center">Prueba Cybersecurity</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
    <h3>Phishing Center</h3>
    </div>
  </div>

  <div class="row mt-3">
  <div class="col-6">
    <h3 style="border-bottom: solid 2px black">Prueba Cybersecurity</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Ut sit amet lobortis sapien. Integer odio massa, rutrum et nisi eget, viverra condimentum justo.
      Nullam erat risus, lacinia a quam sit amet, placerat congue orci.
      Duis purus massa, porta eu arcu eget, tincidunt interdum libero.
      Maecenas cursus, magna vitae aliquet aliquam, nibh dui tristique ex, sit amet efficitur lacus erat fermentum nisi.
      Pellentesque aliquet augue id diam tincidunt, ac finibus nibh malesuada.
      Aliquam dapibus fermentum mauris sit amet viverra.
      In sollicitudin consequat justo, ac ultricies nulla interdum ut.
      Ut mattis justo id tortor cursus, aliquet blandit lectus cursus.
      Curabitur condimentum iaculis odio at volutpat.
      Aenean varius suscipit ullamcorper. Aenean libero nunc, scelerisque eu fringilla a, malesuada et felis.
      Duis maximus est quis lacinia efficitur.
      Nunc venenatis aliquam augue tempus sagittis.

      Donec arcu velit, porttitor ac bibendum vel, placerat eget dui.
      Nam suscipit, neque et aliquet fringilla, eros tellus tincidunt nunc, vel sodales purus eros sed ligula.
      In vestibulum ipsum quis felis mattis, vel molestie urna semper. Ut ut felis nisi.
      Proin ut purus ac quam bibendum venenatis vitae maximus lacus.
      Praesent elementum eget sapien non maximus. Suspendisse tincidunt vitae leo vitae tincidunt.
      Nunc eget suscipit ligula. Proin consectetur laoreet porttitor. Phasellus venenatis nisl vitae ullamcorper cursus.
      Duis cursus risus eu accumsan dictum. Praesent maximus volutpat nunc quis venenatis.</p>
  </div>
  <div class="col-6">
    <h3 style="border-bottom: solid 2px black">Phishing</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Ut sit amet lobortis sapien. Integer odio massa, rutrum et nisi eget, viverra condimentum justo.
      Nullam erat risus, lacinia a quam sit amet, placerat congue orci.
      Duis purus massa, porta eu arcu eget, tincidunt interdum libero.
      Maecenas cursus, magna vitae aliquet aliquam, nibh dui tristique ex, sit amet efficitur lacus erat fermentum nisi.
      Pellentesque aliquet augue id diam tincidunt, ac finibus nibh malesuada.
      Aliquam dapibus fermentum mauris sit amet viverra.
      In sollicitudin consequat justo, ac ultricies nulla interdum ut.
      Ut mattis justo id tortor cursus, aliquet blandit lectus cursus.
      Curabitur condimentum iaculis odio at volutpat.
      Aenean varius suscipit ullamcorper. Aenean libero nunc, scelerisque eu fringilla a, malesuada et felis.
      Duis maximus est quis lacinia efficitur.
      Nunc venenatis aliquam augue tempus sagittis.

      Donec arcu velit, porttitor ac bibendum vel, placerat eget dui.
      Nam suscipit, neque et aliquet fringilla, eros tellus tincidunt nunc, vel sodales purus eros sed ligula.
      In vestibulum ipsum quis felis mattis, vel molestie urna semper. Ut ut felis nisi.
      Proin ut purus ac quam bibendum venenatis vitae maximus lacus.
      Praesent elementum eget sapien non maximus. Suspendisse tincidunt vitae leo vitae tincidunt.
      Nunc eget suscipit ligula. Proin consectetur laoreet porttitor. Phasellus venenatis nisl vitae ullamcorper cursus.
      Duis cursus risus eu accumsan dictum. Praesent maximus volutpat nunc quis venenatis.</p>
  </div>
  </div>
</div>
