<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 style="border-bottom: solid 3px black">{{test.testName}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <div class="row">
        <div class="col">
          <label style="font-weight: bold">Test navn: </label>
          <label>{{test.testName}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
        <label style="font-weight: bold">Oprettet: </label>
        <label>{{test.createDate.slice(0, 10)}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
        <label style="font-weight: bold">Kunde(r):  </label>
          <ul>
            <li *ngFor="let customer of test.customers">{{customer.company}}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label style="font-weight: bold">Modtagere:  </label>
          <table class="table table-hover table-bordered">
            <thead>
            <tr>
              <th>
                Navn
              </th>
              <th>
                Email
              </th>
              <th>
                Åbnet
              </th>
              <th>
                Klik
              </th>
            </tr>
            </thead>
            <tbody *ngFor="let reci of test.recepients">
              <tr>
                <td>
                  {{reci.name}}
                </td>
                <td>
                  {{reci.email}}
                </td>
                <td>
                  {{reci.opencount}}
                </td>
                <td>
                  {{reci.clickcount}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col">
      <button name="startTest" class="btn btn-warning" (click)="testStart()">Start test!</button>
      <button name="stopTest" class="btn btn-warning" (click)="testStop()">Stop test!</button>
    </div>
  </div>

</div>
