<div class="progress-wrapper">
  <div class="current" ng-reflect-ng-style="[object Object]" style="top: 50%; left: 50%; bottom: auto; transform: translateY(-50%) translateX(-50%); font-size: 28px;">41/100</div>
  <round-progress
    [current]="41"
    [max]="100"
    [radius]="100"
    [stroke]="26"
    [semicircle]="false"
    [rounded]="false"
    [clockwise]="false"
    [responsive]="false"
    [duration]="1200"
    [animation]="'easeInOutQuart'"
    [animationDelay]="400">
  </round-progress>
</div>
