.current {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}

.progress-wrapper {
  position: relative;
  margin: auto;
  font-size: 40px;
}

round-progress {
  margin: auto;
}
