@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --main-orange: #F1BE48;
  --main-grey: #333;
  --main-grey-dark: #1c1c1c;
}


.scrolling-container {
  max-height: 800px;
  min-height: 200px;
  overflow-y: auto;
  /*REMEMBER TO ADD STYLE-3 CLASS TO THE ELEMENT*/
}

#page-body {
  font-family: "Oswald", sans-serif;
}
/* Sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #1c1c1c;
  -webkit-transition: .2s ease-in;
  -moz-transition:  .2s ease-in;
  -ms-transition:  .2s ease-in;
  transition: .2s ease-in;
}

/* Content */
#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 1%;
  margin-top: 1%;
  overflow-y: hidden;
  -webkit-transition: .2s ease-in;
  -moz-transition:  .2s ease-in;
  -ms-transition:  .2s ease-in;
  transition: .2s ease-in;
}

/* Change width of sidebar */
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#wrapper.toggled #page-content-wrapper {
  padding-left: 220px;
}

/* Sidebar styling */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  padding-top: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.sidebar-nav li:first-child:before {
  background-color: orange;
}
.sidebar-nav li:nth-child(2):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(3):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(4):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(5):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(6):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(7):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(8):before {
  background-color: orange;
}
.sidebar-nav li:nth-child(9):before {
  background-color: orange;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/* Toolbar styling */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1c1c1c;
  color: orange;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: orange;
  color: white;
}

.site-header {
  border-bottom: 5px solid #333;
  padding: 10px;
}
.site-container {
  margin: 0px 15px 0px 15px;
}

.table-row {
  padding-left: 2px;
  border-left: 5px solid var(--main-grey-dark);
}
.table-row:hover{
  padding-left: 0px;
  border-left: 5px solid var(--main-orange);


}

/*CustomerView CSS*/
.test-list-container {
  overflow-x: hidden;
  height: 500px;
  /*max-width: 500px;*/
  overflow-y: scroll;
  padding: 0px;
}

.test-header {
  margin: 0px 15px 0px 15px;
  padding: 20px 0px 20px 0px;
  border-bottom: 3px solid var(--main-grey);
}

.test-subheader {
  padding: 20px 0px 20px 0px;
  border-bottom: 3px solid var(--main-grey);
}

.test-list {
  top: 0;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -10px;
  padding: 0px 0px 0px 0px;
  padding-top: 0;
  list-style: none;
  background-color: var(--main-grey);
}
.test-list li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.test-list li:hover * {
  background: var(--main-grey-dark);
  color: var(--main-orange);

}


.test-list li:before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: var(--main-grey);
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;

}
.test-list li:hover:before,
.test-list li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;
}
.test-list li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.test-list li:nth-child(odd):before {
  background: var(--main-grey-dark);
  color: var(--main-orange);
}
.test-list li:nth-child(even):before {
  background: var(--main-grey-dark);
  color: var(--main-orange);
}


/*Scrollbar*/
.style-3::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: var(--main-grey);
}

.style-3::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--main-grey);
}

.style-3::-webkit-scrollbar-thumb
{
  background-color: var(--main-orange);
}

.statistic-text {
  float: left;
}
.details-text {
  float: left;
}

.details-label {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.chart-container {
  padding-left: 15px;
}


#details-container {
  margin: 0px 15px 0px 15px;
  border-bottom: 3px solid var(--main-grey);
  display: none;
}

.statistic-container {
  margin: 0px 15px 0px 15px;
  border-bottom: 3px solid var(--main-grey);
}

#controls-container {
  display: none;
}

.controls-container {
  border-bottom: 3px solid var(--main-grey);
  padding: 15px 0px 15px 0px;
  margin: 0px 15px 0px 15px;
}

.controls-container a {
  background-color: var(--main-grey);
  color: #ddd;
  padding: 10px;
  text-decoration: none;
  width: 200px;
}

.controls-container a:hover {
  background: var(--main-grey-dark);
  color: var(--main-orange);
}

/*TestResults-page CSS*/
.test-details-container {
  margin: 0px 15px 0px 15px;
  border-bottom: 3px solid var(--main-grey);
}

.test-recepients-container {
  margin: 0px 15px 0px 15px;
  border-bottom: 3px solid var(--main-grey);
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
}

#all-recepients {
  display: table;
}

#click-recepients {
  display: none;
}

#open-recepients {
  display: none;
}

/*Retailer page*/
.contact-info {
  margin-left: 15px;
  margin-right: 15px;
}

#customer-container{

}

.circle-div {
  position:relative;
  margin:80px;
  width:220px; height:220px;
}
.circle-canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#555;
  display:block;
  text-align:center;
  font-family:sans-serif;
  font-size:40px;
  font-weight:100;
  margin-left:5px;
}








